@import "tailwindcss";

/* Add in your global CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-slide-in-left {
    animation: slideInLeft 0.3s ease-out;
  }
  .animate-slide-in-right {
    animation: slideInRight 0.3s ease-out;
  }

  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes fadeMove {
    0% {
      opacity: 0;
      transform: translateY(30px) scale(0.98);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
  .animate-fade-move {
    animation: fadeMove 0.35s cubic-bezier(0.4,0,0.2,1);
  }
}
